.about {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 33px auto 110px;

  @media (max-width: $tablet-width) {
    margin: 0 auto 83px auto;
  }
}

.about img {
  position: absolute;
  left: -15px;
  top: 5px;

  @media (max-width: $tablet-width) {
    left: -9px;
    top: 7px;
    width: 252px;
    height: 362px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 0 20px 0 195px;

  @media (max-width: $tablet-width) {
    padding: 0 25px 0 210px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.about h2 {
  margin: 0 0 10px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $gray;

  @media (max-width: $tablet-width) {
    margin: 10px 0 15px;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 140.62%;
  }
}

.about__text {
  margin: 10px 0;
  font-size: 16px;
  line-height: 22px;
  color: $gray;

  &--mobile {
    display: none;
  }

  @media (max-width: $tablet-width) {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.about__button {
  margin-top: 30px;
  padding: 14px 49px;
  width: 180px;
  height: 45px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: 1px solid $accent;
  color: $accent;
  background-color: $white;

  &:hover {
    background-color: $accent;
    color: $white;
  }
}
