.checkbox {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;

  &:active,
  &:hover {
    opacity: 0.8;
  }

  input[type="checkbox"] + span::before {
    position: absolute;
    content: "";
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
  }

  input[type="checkbox"]:checked + span::before {
    opacity: 1;
    background: url("../img/icon-checkbox.svg") no-repeat center;
    background-size: 9px 6px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  &--feedback {
    margin: 10px 0 0 35px;
    width: 230px;

    input[type="checkbox"] + span::before {
      left: -32px;
    }
  }

  &--modal {
    margin: 34px 0 0 49px;
    width: 313px;

    input[type="checkbox"] + span::before {
      left: -48px;
    }
  }
}
