.contacts {
  width: 336px;

  @media (max-width: 1240px) {
    width: 344px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.contacts h2 {
  margin: 0 0 25px 0;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $promo-bg-color;

  @media (max-width: $mobile-width) {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 28px 15px 25px;
    border-top: 1px solid $border-color;
    cursor: pointer;

    &:hover {
      background-color: $accent;
    }

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 1px;
      right: 17px;
      border-bottom: 1px solid $border-color;
    }

    &::after {
      content: "";
    }
  }
}

.contacts ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  height: 100px;

  @media (max-width: $mobile-width) {
    padding: 7px 60px 25px 15px;
    height: auto;
  }
}

.contacts--close .contacts__list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.contacts--close .contacts__title::after {
  @media (max-width: $mobile-width) {
    position: absolute;
    content: "";
    width: 1px;
    height: 16px;
    right: 25px;
    border-right: 1px solid $border-color;
  }
}

.contacts a {
  font-family: $font-default;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $promo-bg-color;
  opacity: 0.5;

  &:hover {
    color: $accent;
  }
}
