.developer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 17px 20px 14px 20px;
  max-width: 1455px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }

  @media (max-width: $tablet-width) {
    padding: 22px 27px 22px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    padding: 30px 0 25px;
    margin: 0 auto;
    width: 100%;
  }

  span,
  a {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $promo-bg-color;
    opacity: 0.5;
  }
}

.developer__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 816px;
}

.developer__wrapper span {
  margin-right: 64px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.developer a {
  margin-left: 70px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 21px;
  }

  &:hover {
    color: $accent;
  }
}
