.feedback {
  padding: 62px 0 113px 0;
  color: $white;
  background: url("../img/feedback-bg.jpg") $accent;
  background-size: cover;

  @media (max-width: $tablet-width) {
    padding: 54px 0 104px 0;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 28px 15px 42px;
  }
}

.feedback__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;

  &::before {
    position: absolute;
    content: "";
    left: -2%;
    top: 14.5%;
    width: 511px;
    height: 288px;
    background: url("../img/airplane-image.png") center center no-repeat;
    background-size: cover;

    @media (max-width: 1240px) {
      display: none;
    }
  }
}
