.feedback {
  position: relative;
  padding: 62px 0 113px 0;
  color: $white;
  background-color: $accent;

  @media (max-width: $tablet-width) {
    padding: 54px 0 104px 0;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 28px 15px 42px;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 30px;
  max-width: 1220px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: -124px;
    right: 59.5%;
    width: 670px;
    height: 641px;
    background: url("../img/triangle.svg") no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.feedback__img {
  position: relative;
  height: auto;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
