.page-footer {
  position: relative;
  padding-top: 65px;
  flex-shrink: 0;
  background-color: $footer-bg-color;

  @media (max-width: 1240px) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 46px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 44px;
  padding: 0 20px;
  max-width: 1456px;

  &::before {
    position: absolute;
    content: "";
    top: 83%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }

  @media (max-width: 1240px) {
    flex-direction: column;
    margin: 0 auto 36px;
    padding: 0;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 25px;
    padding: 0;
  }
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  width: 994px;

  @media (max-width: 1240px) {
    margin-top: 39px;
    padding: 0 25px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }
}
