/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold.woff") format("woff");
}
