//Colors
$white: #ffffff;
$black: #000000;
$promo-bg-color: #1b2d37;
$footer-bg-color: #fafafa;
$accent: #00b2ff;
$gray: #666666;
$gray--light: #ebebeb;

//Fonts
$font-default: "PT Mono", "Arial", sans-serif;
$font-secondary: "Roboto Condensed", "Arial", sans-serif;

//Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
